<div class="leftbar leftbar-close clearfix">
		<div class="left-nav clearfix">
			<div class="responsive-leftbar">
				<i class="icon-list"></i>
			</div>
			<div class="left-secondary-nav tab-content">
				<div class="tab-pane active" id="forms">
					<ul id="nav" class="accordion-nav">
						<li><a href="form-elements.html"><i class="icon-list-alt"></i> Form Cuti <span class="notify-tip">50</span></a></li>
						<li><a href="form-components.html"><i class="icon-th"></i> Form Components </a></li>
						<li><a href="form-validation.html"><i class="icon-ok-circle"></i> Form Validation<span>Quisque commodo lectus sit amet sem </span></a></li>
						<li><a href="form-wizard.html"><i class="icon-external-link"></i> Wizard </a></li>
						<li><a href="text-editor.html"><i class="icon-pencil"></i> WYSIWYG editor <span>Quisque commodo lectus sit amet sem </span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>