<!-- Navbar================================================== -->
	<div class="navbar navbar-inverse top-nav">
		<div class="navbar-inner">
			<div class="container">
				<span class="home-link">
					<a href="{$host}dashboard"><img src="{$host}assets/img/logo_par.png" width="232" height="50" alt="Falgun"></a>
				</span>
				<a class="brand" href="{$host}dashboard"><img src="{$host}assets/img/logo.png" width="232" height="50" alt="Falgun"></a>
				<ul class="nav">
						<li ><a href="#"><i class="icon-reorder"></i> Sisa Cuti</a></li>
						<li ><a href="{$host}cuti/formCuti"><i class="icon-file"></i> Pengajuan Cuti </a></li>
						<li ><a href="#"><i class="icon-tasks"></i> Status Cuti </a></li>
						<li><a href="{$host}master/masterPegawai"><i class="icon-folder-open"></i> Master </a></li>
				</ul>
				<div class="btn-toolbar pull-right notification-nav">					
					
					
					
					<div class="btn-group">
						<div class="dropdown">								
							<label style="color: #E5E5E5;display: block;font-size: 14px;font-weight: inherit;">
							Selamat Datang Kembali <h5>{$nama}</h5></label>
						</div>
					</div>
					<div class="btn-group">
						<div class="dropdown">							
							<a class="btn btn-notification" href="{$host}home/logout"><i class="icon-off"></i></a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>