<form action="{$host}admisi/admisiJadwalSeleksi/edit/do" class="form-horizontal" method="post">
        <div class="form-body">
                <div class = "row">
                 <div class="col-md-6">
                          <div class="form-group">
                                 <label  class="control-label col-md-5">Kode</label>
                                 <div class="input-group col-md-7">
                                        <input  name="kode" value="{$event->id_event}" hidden>
                                        <input type="text" class="form-control" placeholder="Kode[Automatic]" value="{$event->id_event}" disabled>
                                 </div>
                          </div>
                 </div>
                 <div class="col-md-6">
                          <div class="form-group">
                                 <label  class="control-label col-md-2">Nama</label>
                                 <div class="input-group col-md-10">
                                        <input type="text" class="form-control" placeholder="Nama Jadwal Seleksi" id="nama" name="nama" value="{$event->nama_event}">
                                 </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-10">
                          <div class="form-group">
                                <label  class="control-label col-md-3">Periode</label>
                                        <div class="col-md-9">
                                                <select class="form-control" id="fPeriode"  name="periode" class="periode" onchange="selectForm('fPeriode','')">
                                                    {foreach name=lope from=$periode item=row}
                                                    <option value="{$row->kode}" {if $event->periode eq $row->kode}selected{/if}>{$row->nama}</option>
                                                    {/foreach}
                                                </select>
                                        </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-6">
                          <div class="form-group">
                                <label  class="control-label col-md-5">Jalur</label>
                                        <div class="col-md-7">
                                                <select class="form-control" id="fJalur"  name="jalur" class="jalur">
                                                    {foreach name=lope from=$jalur item=row}
                                                    <option value="{$row->kode}" {if $event->jalur eq $row->kode}selected{/if}>{$row->nama}</option>
                                                    {/foreach}
                                                </select>
                                        </div>
                          </div>
                 </div>
                 <div class="col-md-6">
                          <div class="form-group">
                                <label  class="control-label col-md-2">Ruang</label>
                                        <div class="col-md-9">
                                                <select class="form-control" id="ruang"  name="ruang" class="ruang">
                                                                <option value="{$event->ruang}">{$event->nama_ruang}</option>
                                                        {foreach name=lope from=$ruang item=row}
                                                                <option value="{$row->kode}">{$row->nama}</option>
                                                        {/foreach}
                                                </select>
                                        </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-6">
                          <div class="form-group">
                                   <label class="control-label col-md-5">Tanggal</label>
                                   <div class="col-md-7">
                                   <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                                <input type="text" class="form-control" name="tanggal" value="{$event->tanggal}">
                                   </div>
                                   </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-6">
                          <div class="form-group">
                                   <label class="control-label col-md-5">Jam Mulai</label>
                                   <div class="col-md-7">
                                     <div class="input-group bootstrap-timepicker">                                       
                                                <input type="text" class="form-control timepicker-24" name="pukulMasuk" value="{$event->jamMasuk}">
                                                <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="icon-time"></i></button>
                                                </span>
                                         </div>
                                   </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-6">
                          <div class="form-group">
                                   <label class="control-label col-md-5">Jam Selesai</label>
                                   <div class="col-md-7">
                                     <div class="input-group bootstrap-timepicker">                                       
                                                <input type="text" class="form-control timepicker-24" name="pukulKeluar" value="{$event->jamKeluar}">
                                                <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="icon-time"></i></button>
                                                </span>
                                         </div>
                                   </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-10">
                          <div class="form-group">
                                <label  class="control-label col-md-3">Petugas 1</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="petugas"  name="petugas1" class="petugas1" >
                                        {foreach name=lope from=$petugas item=row}
                                        <option value="{$row->kode}" {if $row->kode eq $event->petugas} selected{/if}>{$row->nama}</option>
                                        {/foreach}
                                    </select>
                                </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-10">
                          <div class="form-group">
                                <label  class="control-label col-md-3">Petugas 2</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="petugas"  name="petugas2" class="petugas2" >
                                        {foreach name=lope from=$petugas item=row}
                                        <option value="{$row->kode}" {if $row->kode eq $event->petugas2} selected{/if}>{$row->nama}</option>
                                        {/foreach}
                                    </select>
                                </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-10">
                          <div class="form-group">
                                <label  class="control-label col-md-3">Petugas 3</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="petugas"  name="petugas3" class="petugas3" >
                                        {foreach name=lope from=$petugas item=row}
                                        <option value="{$row->kode}" {if $row->kode eq $event->petugas3} selected{/if}>{$row->nama}</option>
                                        {/foreach}
                                    </select>
                                </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-10">
                          <div class="form-group">
                                <label  class="control-label col-md-3">Pewawancara 1</label>
                                <div class="col-md-9">
                                                <select class="form-control" id="pww1"  name="pww1" class="pww1">
                                                        <option value="{$event->pewawancara}">{$event->nama_pww}</option>
                                                        {foreach name=lope from=$petugas item=row}
                                                                <option value="{$row->kode}">{$row->nama}</option>
                                                        {/foreach}
                                                </select>
                                </div>
                          </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-10">										  
                  <div class="form-group">
                        <label  class="control-label col-md-3">Pewawancara 2</label>
                                <div class="col-md-9">
                                        <select class="form-control" id="pww2"  name="pww2" class="pww2">
                                                        <option value="{$event->pewawancara2}">{$event->nama_pww2}</option>
                                                {foreach name=lope from=$petugas item=row}
                                                        <option value="{$row->kode}">{$row->nama}</option>
                                                {/foreach}
                                        </select>
                                </div>
                  </div>
                 </div>
                </div>
                <div class = "row">
                 <div class="col-md-6">
                  <div class="form-group">
                        <label  class="control-label col-md-5">Status</label>
                                <div class="col-md-7">
                                        <select class="form-control" id="status"  name="status" class="status">
                                                {if $event->status eq '1'}<option value="1">AKTIF</option>{else}<option value="0">TIDAK AKTIF</option>{/if}
                                                <option value="1">AKTIF</option>
                                                <option value="0">TIDAK AKTIF</option>
                                        </select>
                                </div>
                  </div>
                 </div>									 
                 <div class="col-md-6">
                  <div class="form-group">
                        <label  class="control-label col-md-5">Prioritas</label>
                                <div class="col-md-7">
                                        <input type="number" class="form-control" name="prioritas" placeholder="Prioritas Pengisian Kelas" required value="{$event->prioritas}">
                                </div>
                  </div>
                 </div>
                </div>
          <div class="modal-footer">
                 <button type="button" class="btn default" data-dismiss="modal">Close</button>
                 <button type="submit" class="btn blue" id="save" value="edit" name="opt"> Tambah <i class="icon-plus"></i></a>
          </div>
</form>
<script>
jQuery(document).ready(function() {       
         // initiate layout and plugins
         FormComponents.init();
	});
</script>