<div class="form-group">
    <label class="control-label col-md-3">Program Studi</label>
    <div class="col-md-8">
        <input name="peringkat" value="0" hidden>
        <input name="jalurmasuk" id="jalurmasuk" value="{$jalurmasuk}" hidden>
        <select class="form-control" id="prodi" name="prodi" required>
            <option>-- Program Studi --</option>
            {foreach from=$prodi item=row}
            <option value="{$row->kode}">{$row->nama}</option>
            {/foreach}
        </select>
    </div>
</div>
<!--        <div class="form-group">
            <label class="control-label col-md-3">Metod Pembayaran</label>
            <div class="col-md-7">
                <select class="form-control" id="pembayaran" name="pembayaran" required>
                    <option>-- Metode Pembayaran --</option>
                    <option value="1">Lunas</option>
                    <option value="69">Angsuran</option>
                </select>
            </div>
        </div>-->
<div id="metodBayar">
{include file='admisi/formParalelDetil.html'}
</div>
<script type="text/javascript">
{literal}
$('#pembayaran').change(function() {
    val = $(this).attr('value');
    var jalurmasuk = $('#jalurmasuk').attr('value');
    prodi = $('#prodi').attr('value');
    $.post('{/literal}{$host}{literal}master/mJalurUM/metodBayar', {'val': val, 'prodi' : prodi, 'jalur' : jalurmasuk}, 
    function(resp) {
        $('#metodBayar').html(resp);
    });
});
{/literal}
</script>

