			
						   <div class="col-md-12" style="margin-bottom:10px;margin-left: -13px;">
								<input type="text" value="{$periode}" name="periode" id="periode" hidden>
								<select  class="form-control" name="jalur" id="jalur">
									{foreach name=lope from=$jalur item=row}
									<option value="{$row->kode}">{$row->nama}</option>
									{/foreach}
								</select>
                           </div>
<script>
{literal}
jQuery(document).ready(function() {  
		$.post("{/literal}{$host}{literal}admisi/{/literal}{$fungsi}{literal}/table",{
					'periode':$('#periode').val(), 'jalur':$('#jalur').val()					
				},function(resp){
                $('#tblJadwal').html(resp);
            });
      });
{/literal}
{literal}
	$("#jalur").change(function(){
		$.post("{/literal}{$host}{literal}admisi/{/literal}{$fungsi}{literal}/table",{
					'periode':$('#periode').val(), 'jalur':$('#jalur').val()					
				},function(resp){
                $('#tblJadwal').html(resp);
            });
	});
{/literal}

</script>