<div class="form-group">
    <h4 class="control-label col-md-12">Rincian Biaya - {$sqlPar.nama}</h4>
     <div class="col-md-12">
        {foreach from=$sql item=row key=k}                           
        <table  class='table table-bordered  table-advance '>
            <thead>
                <tr>
                    <th><h5>Pilihan Uang Masuk</h5></th>
                    {foreach from=$row.pilihanBiayaUM key=k item=rows}
                    <th class=''><h5>{if $rows eq $choose}<b>{$rows|number_format:0:",":"."}</b>{else}{$rows|number_format:0:",":"."}{/if}</h5></th>
                    {/foreach}
                    <th><h5>Bulan Ke - </h5></th>
                    <th><h5>Tanggal Jatuh Tempo</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h5>Angsuran Bulanan ({$row.tempoAngsuran - 1} X)</h5></td>    
                    {foreach from=$pilih item=rowd key=k name=foo}   
                    <td class='{if $k eq $keypilih}active{/if}'>
                        {foreach from=$rowd item=val key=a}
							<font {if $k eq $keypilih}{if $a lt $tagSls}class='label label-sm label-info label-mini'{/if}{/if}>
							{$val|number_format:0:",":"."}
							</font><br>
                        {/foreach}
                    </td>
                    {/foreach}
                    <td  rowspan='2'>
                        {foreach from=$resTglTempo item=val name=ke key=y}							
							
							{if $smarty.foreach.ke.last}
							   <br><br> Ke - {$y+1} 
							{else}
								Ke - {$y+1}<br>
							{/if}
							
                        {/foreach}
                    </td>
                    <td  rowspan='2'>
                        {foreach from=$resTglTempo item=val name=tgl}
                        {if $smarty.foreach.tgl.last}
                            <br><br>{$val|date_format:'%d-%m-%Y'}
                        {else}
                            {$val|date_format:'%d-%m-%Y'}<br>
                        {/if}
                        {/foreach}
                    </td>
                </tr>
                <tr >
                    <td>Angsuran Terakhir (1 X)</td>
                    {foreach from=$row.biayaPembeda key=k item=rows}
                    <td class='{if $k eq $keypilih}active{/if}'>{$rows|number_format:0:",":"."}</td>
                    {/foreach}
                </tr>
            </tbody>
        </table>
        {/foreach}
    </div>
</div>