<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
{*{if $prodi eq '1208'}*}
<div class="form-group">
	<label class="control-label col-md-3">Grade Masuk</label>
	<div class="col-md-7">
		<select class="form-control" id="grade" name="grade" required>
			<option>-- Pilih Grade --</option>
			<option value="SMA">SMA</option>
			<option value="D3">D3</option>
		</select>
	</div>
</div>
{*{/if}*}
<div class="form-group">
    <label class="control-label col-md-3">Uang Masuk</label>
    <div class="input-group col-md-8">
        <input type="text" class="biaya form-control" placeholder="Uang Masuk (Rp.)" id="um" name="um">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">Jumlah SKS</label>
    <div class="input-group col-md-8">
        <input type="text" class="biaya form-control" placeholder="Jumlah SKS Semester 1" id="jumlahSks" name="jumlahSks">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">SKS</label>
    <div class="input-group col-md-8">
        <input type="text" class="biaya form-control" placeholder="Biaya Total SKS (Rp.)" id="sks" name="sks">
    </div>
</div>
<div class="form-group">
        <label class="control-label col-md-3">Jumlah SKS</label>
        <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" value="" placeholder="Jumlah SKS" id="jumlahSks" name="jumlahSks">
        </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">SPP</label>
    <div class="input-group col-md-8">
        <input type="text" class="biaya form-control" placeholder="Biaya SPP (Rp.)" id="spp" name="spp">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">Status</label>
    <div class="col-md-6">
        <select class="form-control" id="status" name="status" class="status">
            <option value="1">AKTIF</option>
            <option value="0">TIDAK AKTIF</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn blue" id="save" value="save" name="opt">Tambah <i class="icon-plus"></i>
        </a>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('.biaya').blur(function() {
        $('.biaya').formatCurrency();
    });
}); 
</script>