<div class="leftbar leftbar-close clearfix">
		<div class="left-nav clearfix">
			<div class="responsive-leftbar">
				<i class="icon-list"></i>
			</div>
			<div class="left-secondary-nav tab-content">
				<div class="tab-pane active" id="forms">
					<ul id="nav" class="accordion-nav">
						<li><a href="{$host}master/masterPegawai"><i class="icon-user"></i> Master Karyawan </a></li>
						<li><a href="{$host}master/masterJabatan"><i class="icon-list-alt"></i> Master Jabatan </a></li>
						<li><a href="{$host}master/masterDepart"><i class="icon-th-list"></i> Master Departemen </a></li>
						<li><a href="{$host}master/masterCuti"><i class="icon-th-list"></i> Master Cuti Bersama </a></li>
						<li><a href="{$host}master/master_periode_cuti"><i class="icon-th-list"></i> Master Periode Kerja </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>