<script>	  
$(function () {
    $('#data-table').dataTable({
        "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
    });
});
$(function () {
        $('#datetimepicker5').datetimepicker({
            pickTime: false
        });
		$('#datetimepicker1').datetimepicker({
            pickTime: false
        });
    });
</script>	


					<div class="primary-head">
						<h3 class="page-header">Periode Kerja </h3>
					</div>
			<div id="master">
				<div id="form" style="display:none">
							<div class="content-widgets light-gray">
								<div class="widget-head riscon-orange">
									<h3>Tambah Periode 
										<a href="#" id="minus" style="float:right" onClick="doForm(1)"><i class="icon-minus"></i></a>
									</h3>
								</div>
								<div class="widget-container">
									<form class="form-horizontal" name="marketer" action="{$host}master/addPeriode" id="marketer" method="post">
										<div class="control-group">
											<label class="control-label" >Periode Tahun</label>
											<div class="controls">
												<input type="text" placeholder="Periode Tahun Cuti" class="span4" name="periode" id="periode" class="required">
											</div>
										</div>
										<div class="control-group">
												<label class="control-label">Periode Cuti</label>
												<div class="controls">
													<div id="datetimepicker5" class="input-append date ">
														<input data-format="yyyy-MM-dd" placeholder="Tanggal Mulai" type="text" name="tgl_cuti" id="tgl_cuti" ><span class="add-on "><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
													</div> s.d.
													<div id="datetimepicker1" class="input-append date ">
														<input data-format="yyyy-MM-dd" placeholder="Tanggal Selesai" type="text" name="tgl_selesai_cuti" id="tgl_selesai_cuti"><span class="add-on "><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
													</div>
												</div>
										</div>
											<div class="control-group">
												<label class="control-label" >Status Cuti</label>
												<div class="controls">
													<select data-placeholder="Departemen" class="span" tabindex="2" name="status_periode" id="status_periode">												
														<option value="0">Tidak Aktif</option>	
														<option value="1">Aktif</option>
														<option value="2">Selesai</option>
													</select>
												</div>
											</div>
											<button type="submit" class="btn btn-success" name="save" id="save" value="save">Save</button>
											<a class="btn btn-warning" name="cancel" id="cancel" value="cancel" onClick="doForm(1)">Cancel</a>
											<button type="reset" class="btn">Reset</button>
									</form>
								</div>
							</div>
				</div>
				<div id="tabel">
					<div class="content-widgets light-gray">
						<div class="widget-head bondi-blue">
							<h3>Daftar Periode Kerja
								<a href="#" id="minus" style="float:right" onClick="doForm(0)"><i class="icon-plus "></i></a>
							</h3>
						</div>
						<div class="widget-container" >	
							<table class="responsive table table-striped table-bordered" id="data-table" >
							<thead>
							<tr>
								<th>
									 Periode Cuti
								</th>
								<th>
									 Mulai
								</th>
								<th>
									 Selesai
								</th>
								<th>
									 Status Cuti
								</th>
								<td class="action" ></td>
							</tr>
							</thead>
							<tbody>
							{foreach name=loop from=$periode_cuti item=row}
							<tr>
								<td>
									Periode Cuti Tahun {$row->periode_cuti}
								</td>
								<td>
									 {$row->tgl_mulai}
								</td>
								<td>
									 {$row->tgl_akhir}
								</td>
								<td style="text-align:center">
									 {if $row->isActive eq '0'}Tidak Aktif{else if $row->isActive eq '1'}Aktif{else}Selesai{/if}
								</td>
								<td class="center" style="text-align:center">
									 <div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>
											<a href="#" class = "edit" name="edit" id="edit" value="{$row->id_periode}">Edit</a>
											</li>
											<li>
											<a href="#" class = "hapus" name="hapus" id="hapus" value="{$row->id_periode}">Hapus</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>	
							{/foreach}
							</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="lain">
			</div>
<script type="text/javascript">
	function doForm(a){
	if (a == 1){
		document.getElementById('form').style.display = 'none';
		document.getElementById('tabel').style.display = 'block';
		}
	else{
		document.getElementById('form').style.display = 'block';
		document.getElementById('tabel').style.display = 'none';
		}
	}
{literal}
		$(".hapus").each(function (i, v){
			$(this).click(function(){	
				var id = $(this).attr("value");
				if (confirm("Are you sure?")) {
					$.post("{/literal}{$host}{literal}master/delCuti/delete", {'id':id});
					//$(location).attr('href',"{/literal}{$host}{literal}master/masterCuti");
					window.setTimeout(function() {
						window.location.href = '{/literal}{$host}{literal}master/masterCuti';
					}, 500);
				}				
				return false;
				});
			});
	{/literal}{literal}
		$(".edit").each(function (i, v){
			$(this).click(function(){	
				var id = $(this).attr("value");
				var nama = $(this).attr("name");
				$.post("{/literal}{$host}{literal}master/masterCuti/edit", {'id':id},function(resp){
					$('#master').hide();
					$('#lain').html(resp);
				});								
			});
		});
	{/literal}
</script>