<div class="row">
    <div class="col-md-12 article-block">   
    <hr style='margin-top: -10px; margin-bottom: 10px;'>  
     <div> 
        <div class='col-md-3'>
            <img src="{$host}assets/img/logoupm.png">
        </div>
        <div class='col-md-6'>
            <h4 style='text-align: center;'>{$title}</h4>
            <h4 style='text-align: center;margin-top: -10px'>KETENTUAN PENGEMBALIAN BIAYA PERKULIAHAN MAHASISWA</h4>
            <h4 style='text-align: center;margin-top: -10px'>Tahun Ajaran 2016-2017</h4>
        </div>
        <div class='col-md-3'>
            <h5>No.004/HM/XII/UPM/15</h5> 
            <h5 style='margin-top: -10px'>Issue/Revisi: A0 </h5> 
            <h5 style='margin-top: -10px'>Tgl Berlaku mulai: 1 Desember 2015</h5>
        </div>          
         
        <div class='clearfix'></div>
        <hr style='margin-top: 0px;'> 
        <div class="well">
            <address>
                <h4>A. Jumlah Pengembalian Biaya Perkuliahan</h4>
                <blockquote class="hero">
                    <p>1. Bagi calon mahasiswa yang mengundurkan diri disebabkan oleh:</p>
                    <p style='margin-left:20px;'>1.1	Tidak Lulus Ujian Akhir Nasional (UAN)</p>
                    <p style='margin-left:20px;'>1.2	Meninggal dunia</p>
                    <p style='margin-left:50px;margin-top:-10px'>Biaya perkuliahan yang telah dibayarkan ke Universitas Paramadina dikembalikan seluruhnya kepada calon mahasiswa, dengan dikenakan biaya administrasi sebesar Rp 50.000,- (lima puluh ribu rupiah)</p>
                    <p>2. Bagi calon mahasiswa yang mengundurkan diri sebelum batas waktu pengunduran diri disebabkan oleh </p>
                    <p style='margin-left:20px;margin-top:-10px'>selain yang tertera pada poin 1.1, dan 1.2, maka biaya perkuliahan yang telah dibayarkan ke Universitas Paramadina dikembalikan dengan dikenakan biaya administrasi yang besarnya 25% (dua puluh lima persen) dari uang masuk (UM) sesuai rangking pada hasil ujian seleksi masuk yang diikuti oleh calon mahasiswa (kolom 3 pada tabel LAMPIRAN 3 halaman 1). Seluruh biaya SPP, SKS dan BPP dikembalikan penuh, sesuai dengan syarat dan ketentuan yang berlaku.</p>
                </blockquote>
                <h4>B. Syarat-syarat Pengembalian Biaya Pendidikan</h4>
                <blockquote class="hero">
                    <p>1. Pengembalian biaya perkuliahan berlaku bagi calon mahasiswa yang telah melakukan pembayaran biaya perkuliahan. </p>
                    <p style='margin-left:20px;margin-top:-10px'>Pengajuan surat permohonan pengunduran diri sebagai calon mahasiswa Universitas Paramadina, dengan tanda tangan diatas bermaterai Rp 6.000,-. Diterima panitia PBM 2015 selambat-lambatnya pada 5 Agustus 2016, dan telah disepakati bersama dengan Panitia SMB dan Bagian Keuangan, Universitas Paramadina.</p>
                    <p>2.  Permohonan pengunduran ditujukan kepada Panitia Penerimaan Baru Mahasiswa Universitas Paramadina, dengan </p>
                    <p style='margin-left:20px;'> 2.1. Mengisi formulir permohonon, dengan dilampirkan:</p>
                    <p style='margin-left:50px;'> 2.1.1	Fotokopi KTP/SIM calon mahasiswa</p>
                    <p style='margin-left:50px;'> 2.1.2	Fotokopi KTP/SIM orang tua calon mahasiswa</p>
                    <p style='margin-left:50px;'> 2.1.3	Bukti setor biaya pendidikan yang telah disahkan oleh Bank</p>
                    <p style='margin-left:50px;'> 2.1.4	Bukti surat ketidak lulusan UAN atau surat keterangan kematian dari RT/RW</p>
                    <p style='margin-left:50px;'> 2.1.5	Surat Persetujuan Pengunduran Diri dari Orang tua/Wali. </p>

                    <p style='margin-left:20px;'>2.2	Batas akhir penyerahan berkas pengunduran diri adalah tanggal 5 Agustus 2016. 
                    <p style='margin-left:50px;margin-top:-10px'><strong>Pengajuan permohonan pengunduran diri setelah batas waktu tersebut tidak dapat dilayani dan uang tidak dapat dikembalikan.</strong></p>            
                    <p style='margin-left:50px;'>2.2.1	Pengembalian biaya perkuliahan akan diberikan selambat-lambatnya 14 (empat belas) hari kerja </p>
                    <p style='margin-left:95px;margin-top:-10px'>terhitung sejak permohonan pengunduran diri diterima dan disepakati bersama dengan Panitia PBM dan Bagian Keuangan, Universitas Paramadina.</p>         
                    <p style='margin-left:50px;'>2.2.2	Pengembalian biaya perkuliahan dilakukan melalui transfer bank ke rekening bank </p>
                    <p style='margin-left:95px;margin-top:-10px'>yang dicantumkan dalam formulir pengunduran diri. </p>
                </blockquote>
            </address>
        </div>
        <div class='col-md-6'>
            <a class='btn blue pull-left' href='{$host}portal/lampiran/3' > <i class=' icon-file'></i> Lampiran 3</a>
        </div>
        <div class='col-md-6'>
            <a class='btn blue pull-right' href='{$host}portal/lampiran/5' > <i class=' icon-file'></i> Surat Pernyataan</a>
        </div>
        <br><br>
        <hr>
        <h4>Panitia Penerimaan Baru Mahasiswa 2016</h4>
        <h5>Telepon: +62-21-7918-1188 ext 200/888, leo.ericton@paramadina.ac.id, http://paramadina.ac.id</h5>
        <h5>PIN BB 28249c59   |   Line ID ParamadinaUniversity    |    @paramadina    |    facebook.com/paramadina   |  SMS : 0815 918 1188</h5>
    </div>
  <!--end col-md-9-->
    </div>
</div>