<div class="row">
  <div class="col-md-12 article-block">  
    <hr style='margin-top: -10px; margin-bottom: 10px;'> 
        <div class='col-md-3'>
            <img src="{$host}assets/img/logoupm.png">
        </div>
        <div class='col-md-5'>
            <h4 style='text-align: center;'>{$title}</h4>
            <h4 style='text-align: center;margin-top: -10px''>INFORMASI BIAYA KULIAH </h4>
            <h4 style='text-align: center;margin-top: -10px'>& Ketentuan Terkait</h4>
        </div>
        <div class='col-md-3'>
            <h5>No.003/HM/IXII/UPM/15</h5> 
            <h5 style='margin-top: -10px'>Issue/Revisi: A0 </h5> 
            <h5 style='margin-top: -10px'>Tgl Berlaku mulai: 1 Desember 2015</h5>
        </div>          
         
        <div class='clearfix'></div>
        <hr style='margin-top: 0px;'>
        
        <div class="well">
            <address>
            <blockquote class="hero">
                <h4>1.	Khusus untuk pendaftar ulang sebelum 28 Februari 2016 akan masuk ke dalam program Early Bird.</h4>
                <h4 style='margin-left:20px;margin-top:-10px'>Total Pembayaran Semester Pertama terdiri dari Uang Masuk, Biaya Perkuliahan Semester I (terdiri dari SPP dan biaya SKS), dan Biaya Persiapan Kuliah, dengan rincian sebagai berikut:</h4>
                <h4>2.	Biaya Persiapan Perkuliahan (BPP) hanya dibayarkan 1 kali selama berkuliah di Universitas Paramadina, </h4>
                <h4 style='margin-left:20px;margin-top:-10px'>sudah meliputi biaya kepesertaan pada Graha Mahardika Paramadina (orientasi mahasiswa baru), sebuah jaket almamater, dan biaya perkuliahaan matrikulasi Bahasa Inggris, serta sebesar Rp.2750.000 dari BPP  tersebut dialokasikan untuk mendanai kegiatan kemahasiswaan.</h4>
                <h4>3.	Komponen biaya perkuliahan semester kedua dan selanjutnya hanya terdiri dari biaya SPP ditambah biaya SKS,</h4>
                <h4 style='margin-left:20px;margin-top:-10px'> akan bertambah jika masih ada beban angsuran pembayaran pada saat daftar ulang.</h4>
                <h4>4.	Biaya mata kuliah praktek per SKS Rp. 300.000, berlaku untuk beberapa mata kuliah praktik Program Studi Ilmu Komunikasi, </h4>
                <h4 style='margin-left:20px;margin-top:-10px'>Desain Komunikasi Visual dan Desain Produk Industri</h4>
                <h4>5.	Sebesar Rp 100.000 dari SPP setiap semester dialokasikan untuk mendanani kegiatan kemahasiswaan.</h4>
                <h4>6.	Pembayaran lunas sebelum 28 Februari 2016, mendapatkan diskon uang masuk sebesar 10%.</h4>
                <h4 style='margin-left:20px;margin-top:-10px'> Daftar ulang lewat dari tanggal 28 Februari 2016 dikenakan biaya baru.</h4> 
                <h4>7.	Pembayaran dilakukan melalui ke Bank Mandiri No Rek: 070-00000-43526, </h4>
                <h4 style='margin-left:20px;margin-top:-10px'> atas nama Universitas Paramadina dan bukti pembayaran diserahkan ke administrasi pembayaran.</h4> 
                <h4>8.	Informasi lebih lanjut mengenai pembayaran perkuliahan dapat menghubungi :</h4>
                <h4 style='margin-left:20px;margin-top:-10px'>021-7918 1188 ext 200/888 atau admission@paramadina.ac.id</h4> 
            </blockquote>
     <!--end news-tag-data-->
            </address>
        </div>
        <div>
    <div class='col-md-6'>
        <a class='btn blue pull-left' href='{$host}portal/lampiran/2' > <i class=' icon-file'></i> Lampiran 2</a>
    </div>
    <div class='col-md-6'>
        <a class='btn blue pull-right' href='{$host}portal/lampiran/4' > <i class=' icon-file'></i> Lampiran 4</a>  
    </div>
    <br><br>
       
     <hr>
     <h4>Panitia Penerimaan Baru Mahasiswa 2016</h4>
     <h5>Telepon: +62-21-7918-1188 ext 200/888, leo.ericton@paramadina.ac.id, http://paramadina.ac.id</h5>
     <h5>PIN BB 28249c59   |   Line ID ParamadinaUniversity    |    @paramadina    |    facebook.com/paramadina   |  SMS : 0815 918 1188</h5>
  </div>
  <!--end col-md-9-->
</div>
</div>