<div class="row">
  <div class="col-md-12 article-block">    
    <hr style='margin-top: -10px; margin-bottom: 10px;'>      
        <div class='col-md-3'>
            <img src="{$host}assets/img/logoupm.png">
        </div>
        <div class='col-md-6'>
            <h4 style='text-align: center;'>{$title}</h4>
            <h4 style='text-align: center;margin-top: -10px''>PROSEDUR DAFTAR ULANG PBM REGULER 2016</h4>
        </div>
        <div class='col-md-3'>
            <h5>No.001/HM/XII/UPM/15</h5> 
            <h5 style='margin-top: -10px'>Issue/Revisi: A0 </h5> 
            <h5 style='margin-top: -10px'>Tgl Berlaku mulai: 1 Desember 2015</h5>
        </div>          
        
        <div class='clearfix'></div>
        <hr style='margin-top: 10px;'> 
        <div class="well">
            <address>
                <iframe src="http://docs.google.com/gview?url=http://admission.paramadina.ac.id/assets/upload/alur.pdf&embedded=true" style="width:100%; height:640px;" frameborder="0"></iframe>
            </address>
        </div>
        <a class='btn blue pull-right' href='{$host}portal/lampiran/2' > <i class=' icon-file'></i> Lampiran 2</a> 
        <br><br>
        <hr>
        <h4>Panitia Penerimaan Baru Mahasiswa 2016</h4>
        <h5>Telepon: +62-21-7918-1188 ext 200/888, leo.ericton@paramadina.ac.id, http://paramadina.ac.id</h5>
        <h5>PIN BB 28249c59   |   Line ID ParamadinaUniversity    |    @paramadina    |    facebook.com/paramadina   |  SMS : 0815 918 1188</h5>
     
  </div>
  <!--end col-md-9-->
</div>