<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
   <div class="dashboard-stat {if $cmb->statusAlamat eq '1'}blue{else}dark{/if}">
          <div class="visual">
                 <i class="icon-road"></i>
          </div>
          <div class="details">
                 <div class="number">
                        Alamat
                 </div>
                 <div class="desc">                           
                        Rumah & Surat
                 </div>
          </div>									  
          {if $cmb->statusAlamat eq '1'}
          <a href="#" class="more">Lihat Detail <i class="m-icon-swapright m-icon-white"></i></a>  
          {else}
          <a href="#" class="more">Lengkapi <i class="m-icon-swapright m-icon-white"></i></a> 
          {/if} 
   </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
   <div class="dashboard-stat green">
          <div class="visual">
                 <i class="icon-group"></i>
          </div>
          <div class="details">
                 <div class="number">Orang Tua</div>
                 <div class="desc">Wali & Keluarga</div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
   </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
   <div class="dashboard-stat dark">
          <div class="visual">
                 <i class="icon-book"></i>
          </div>
          <div class="details">
                 <div class="number">Riwayat</div>
                 <div class="desc">Pendidikan Formal</div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
   </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
   <div class="dashboard-stat purple">
          <div class="visual">
                 <i class="icon-trophy"></i>
          </div>
          <div class="details">
                 <div class="number">Prestasi & </div>
                 <div class="desc">Riwayat Organisasi</div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
   </div>
</div>