<form action="{$host}smb/earlyBird/save/do" class="form-horizontal" method="post">
        <div class="form-body">
            <div class="form-group">
                 <label  class="control-label col-md-3">No Registrasi</label>
                 <div class="input-group col-md-9">
                    <input name="val" value="{$mah->kode}" hidden>
                    <input type="text" class="form-control" id="kode" value="{$mah->nomor}" disabled>
                 </div>
              </div>
              <div class="form-group">
                 <label  class="control-label col-md-3">Nama CMB</label>
                 <div class="input-group col-md-9">
                    <input type="text" class="form-control" value="{$mah->nama}" disabled>
                 </div>
              </div>
              <div class="form-group">
                 <label  class="control-label col-md-3"></label>
                 <div class="input-group col-md-9">
                        <label class="radio-inline">
                            <input type="radio" name="earlybird" id="earlybird" value="99" >Confirm Early Bird
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="earlybird" id="earlybird" value="1" >Tolak Early Bird
                        </label>
                 </div>
              </div>
        </div>
        <div class="modal-footer">
             <button type="submit" class="btn blue" id="save" value="confirm" name="opt"> Confirm</button>
        </div>
</form>