				<div class="tab-pane" id="tab_1_4">
                        <div class="row">
                           <div class="col-md-12">
							   <div class="col-md-4" style="margin-bottom:10px;margin-left: -13px;">
									<select  class="form-control" name="periode" id="periode">
										{foreach name=lope from=$periode item=row}
										<option value="{$row->kode}">{$row->nama}</option>
										{/foreach}
									</select>
							   </div>
							<div id="selectJalur"> </div>
                           </div>						   
                        </div>
						<div id="tblJadwal" name="tblJadwal">
						</div>
					</div>
				<div id="tablePeserta">
					<!-- Isi table Peserta -->
				</div>
<script>
{literal}
jQuery(document).ready(function() {       
         // initiate layout and plugins
		 id = "smbPay";
		 $.post("{/literal}{$host}{literal}smb/smbJalur",{
					'periode':$('#periode').val(), 'fungsi':id					
				},function(resp){
                $('#selectJalur').html(resp);
            });
      });

	$("#periode").change(function(){
		id = "smbPay";
		$.post("{/literal}{$host}{literal}smb/smbJalur",{
					'periode':$('#periode').val(), 'fungsi':id					
				},function(resp){
                $('#selectJalur').html(resp);
            });
	});
{/literal}
$('table.data tr.detail').click( function() {
    $(this).hide();
    $(this).prevAll('tr').each( function() {
        if ($(this).hasClass('headerr')) {
            return false;
        }
        $(this).hide();
    });
    $(this).nextAll('tr').each( function() {
        if ($(this).hasClass('headerr')) {
            return false;
        }
        $(this).hide();
    });
});
$('table tr.headerr').click( function() {
    $(this).nextAll('tr').each( function() {
        if ($(this).hasClass('headerr')) {
            return false;
        }
        $(this).show();
    });
});

//{literal}
//$(".validasi").each(function (i, v){
//	$(this).click( function() {	
//			opt = $(this).attr("name");
//			val = $(this).attr("value");
//		$.post("{/literal}{$host}{literal}smb/smbPay/confirm", {'opt':opt, 'value':val},function(resp){
//		location.reload();
//		});
//	});
//});
//{/literal}
</script>