<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="icon-list"></i> DAFTAR PESERTA CALON MAHASISWA BARU</div>
        <div class="tools">
            <a href="{$host}smb/exportToExcel/calonSmb/{$periode}" class="btn default btn-xs black" style="margin-bottom: 12px;"><i class="icon-download-alt"></i></a>
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content" id="sample_editable_1"> 
            <thead clas="flip-content">
                <tr>
                    <th>NO. PENDAFTARAN</th>
                    <th>NAMA CMB</th>
                    <th>PRODI</th>
                    <th>JALUR</th>
                    <th>TANGGAL DAFTAR</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {foreach name=loop from=$sql item=row}
                <tr>
                    <td>
                     {if $row->foto neq ''}	
                    	<div class="tiles">
                            <div class="tile image">
                                <a  style="color:black" class="accordion-toggle" href="{$host}smb/profil/{$row->no_smb}">
                                <div class="tile-body">				            
                                    <img class="img-responsive" alt="" src="{$host}assets/upload/foto/{$row->foto}">
                                </div>
                                <div class="tile-object" style="background-color:#006895">
                                    <div class="name">{$row->no_smb}</div>
                                </div>
                                </a>
                            </div>
                        </div>
                    {else}
                    	<div class="panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a  style="color:black" class="accordion-toggle" href="{$host}smb/profil/{$row->no_smb}">{$row->no_smb}</a>
                                </h4>
                            </div>
                        </div>
                    {/if}
                    </td>
                    <td>
                        <a href="{$host}smb/formulir/{$row->no_smb}">
                            <h4 >{$row->nama_cm}</h4>
                        </a> 
                        <a  class="btn red"  href="#" onclick="deleteMhs('del','{$row->no_smb}')">DELETE CMB</a>
                    </td>
                    <td><h4 >{$row->progdi_inisial}</h4></td>
                    <td><h4>{$row->n_jalur}</h4></td>
                    <td><h4 >{$row->hari}, {$row->tanggal}</h4></td>
                    <td>
                        <table>
                            {if $row->stsMundurBeforeReapply eq '0'} {if $row->stsMundurAfterReapply eq '1'}
                            <tr>
                                <td>
                                    <span class="label label-sm label-danger label">Mundur sesudah Daftar Ulang</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {else}
                    <tr>
                        <td>Mendaftar</td>
                        <td>{if $row->stsApplyPaid eq '0'}

                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td>Melengkapi Form Pendaftaran</td>
                        <td>{if $row->stsApplyPaidConfirm eq '0'}
                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}</td>
                    </tr>
                    <tr>
                        <td>Memilih Jadwal Seleksi</td>
                        <td>{if $row->stsEventConfirm eq '0'}
                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}</td>
                    </tr>
                    <tr>
                        <td>Mengikuti Seleksi</td>
                        <td>{if $row->stsEventUsmPresent eq '0'}
                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}</td>
                    </tr>
                    <tr>
                        <td>Menerima Hasil Seleksi</td>
                        <td>{if $row->stsResultConfirm eq '0'}
                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}</td>
                    </tr>
                    <tr>
                        <td>Membayar Biaya Daftar Ulang</td>
                        <td>{if $row->stsReapplyPaid eq '0'}
                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}</td>
                    </tr>
                    <tr>
                        <td>Menunggu dan mendapat NIM</td>
                        <td>{if $row->stsReapplyPaidConfirm eq '0'}
                            <span class="label label-sm label-danger label-mini"><i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini"><i class="icon-ok-sign"></i></span>
                            {/if}</td>
                    </tr>
                    {/if} {else}
                    <tr>
                        <td>
                            <span class="label label-sm label-danger label">Mundur sebelum Daftar Ulang</span>
                        </td>
                        </td>
                        {/if}
                        </table>
                        </td>
                    </tr>
                    {/foreach}
            </tbody>
        </table>
    </div>
</div>
<script>
jQuery(document).ready(function() {
    TableEditable.init();
}); 
{literal}
function deleteMhs(method, p1){
    if (confirm("Apakah Anda Ingin Menghapus Calon Mahasiswa Ini?")) { 
        $.post("{/literal}{$host}{literal}smb/deleteMhs", {
            'id': p1,
            'method': method
        }, function(resp) {
        if (resp == 1){
            alert("Mahasiswa Berhasil Dihapus.");
            location.reload();
        }else{
            alert(resp);
        }
    });
    }else{
        return true;
    }
}
{/literal}
</script>
