<!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">ZOOOOooooooooonk</h3> -->
<div class="form-group radio-list">
	<label class="control-label col-md-2">Alumni S1</label>
	<div class="col-md-1">
		<label><input type="radio" name="alumni" value="1" > Alumni </label>
	</div>
	<div class="col-md-2">
		<label><input type="radio" name="alumni" value="0" > Bukan Alumni </label>
	</div>
</div>
<div class="form-group radio-list">
	<label class="control-label col-md-2">Pindahan MIAI</label>
	<div class="col-md-1">
		<label><input type="radio" name="miai" value="1" > Ya </label>
	</div>
	<div class="col-md-2">
		<label><input type="radio" name="miai" value="0" > Tidak</label>
	</div>
</div>
<div class="form-group radio-list">
	<label class="control-label col-md-2">Early Bird (Gel. 1)</label>
	<div class="col-md-1">
		<label><input type="radio" name="earlybird" value="1" > Ya </label>
	</div>
	<div class="col-md-2">
		<label><input type="radio" name="earlybird" value="0" > Tidak </label>
	</div>
</div>
<div class="form-group radio-list">
	<label class="control-label col-md-2">Keluarga Inti Civitas Akademika</label>
	<div class="col-md-1">
		<label><input type="radio" name="keluargacivitas" value="1" > Ya </label>
	</div>
	<div class="col-md-2">
		<label><input type="radio" name="keluargacivitas" value="0" > Tidak </label>
	</div>
</div>
<div class="form-group radio-list">
	<label class="control-label col-md-2">Keluarga Inti DLB</label>
	<div class="col-md-1">
		<label><input type="radio" name="keluargadlb" value="1" > Ya </label>
	</div>
	<div class="col-md-2">
		<label><input type="radio" name="keluargadlb" value="0" > Tidak </label>
	</div>
</div>
<div class="form-group radio-list">
	<label class="control-label col-md-2">Metode Pembayaran</label>
	<div class="col-md-1">
		<label><input type="radio" name="lunas" value="1" > Lunas </label>
	</div>
	<div class="col-md-2">
		<label><input type="radio" name="lunas" value="0" > Angsuran </label>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Nama Donor
        </label>
	<div class="col-md-10">
		<input type="text" class="form-control" name="nama_donor" >
	</div>
</div>