<div class="leftbar leftbar-close clearfix">
		<div class="left-nav clearfix">
			<div class="responsive-leftbar">
				<i class="icon-list"></i>
			</div>
			<div class="left-secondary-nav tab-content">
				<div class="tab-pane active" id="forms">
					<ul id="nav" class="accordion-nav">
						<li><a href="{$host}cuti/tblPengajuanCuti"><i class="icon-list-alt"></i> Pengajuan Cuti</a></li>
						<li><a href="{$host}cuti/tabelCuti"><i class="icon-list-alt"></i> Riwayat Cuti</a></li>
						<li><a href="{$host}cuti/formCuti"><i class="icon-list-alt"></i> Form Cuti</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>